<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <nav class="topnav">
        <label class="menu" id="menu"> <i class="fa fa-bars" id="oc-menu"></i> </label>
        <a href="#"> Logout </a>
    </nav>
    <nav class="sidenav" id="sidenav">
        <div class="profile">
            <img src="/images/user.png" alt="Profile">
            <a href="#">Username</a>
        </div>
        <div class="links">
            <a href="#">Add Event</a>
            <a href="#">show All Events</a>
        </div>
        <button>Logout</button>
    </nav>
    <script src="https://kit.fontawesome.com/797817b03b.js" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>
</html>