<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Todo - Login</title>
</head>

<body>
    <div class="ball" style="left: 5em;"></div>
    <h1 class="lh1">Todo Application</h1>
    <div class="form">
        <form action="" method="post">
            <h1>Login To Continue</h1>
            <div class="form-field">
                <label for="username"> Username </label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-field">
                <label for="password"> Password </label>
                <input type="password" name="password" id="password" required>
            </div>
            <button> Login </button>
        </form>
        <p>don't have an account ? click here to <a href="/register"> register </a> </p>
    </div>
</body>

</html>