<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Todo - Register</title>
</head>
<body>
    <div class="ball" style="right: 5em;"></div>
    <h1 class="lh1">Todo Application</h1>
    <div class="form">
        <form action="/registerUser" method="get">
            <h1>Register</h1>
            <div class="form-field">
                <label for="name"> Full Name</label>
                <input type="text" name="name" id="name" placeholder="John Doe">
            </div>
            <div class="form-field">
                <label for="username"> Choose Username</label>
                <input type="text" name="username" id="username" required placeholder="johndoe123">
            </div>
            <div class="form-field">
                <label for="email"> Email </label>
                <input type="email" name="email" id="email" required placeholder="johndoe123@example.com">
            </div>
            <div class="form-field">
                <label for="password"> Password </label>
                <input type="password" name="password" id="password">
            </div>
            <button> Register </button>
        </form>
        <p>Already have an account ? Click here to <a href="/">Login</a></p>
    </div>
</body>
</html>