*{
    margin: 0;
    padding: 0;
    font-family:monospace;
}
.ball{
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(to top, rgb(1, 82, 1), rgb(2, 138, 2), rgb(5, 214, 5), rgb(47, 248, 47));
    position: absolute;
    bottom: 0;
    /* left: 5em; */
    z-index: -10;
    animation: bounce 5s ease-in-out infinite;
}
@keyframes bounce{
    50%{
        transform:translateY(-600px);
    }
}
.lh1{
    /* width: 99%; */
    background-color: green;
    text-align: center;
    padding: 0.2em;
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
form{
    width: fit-content;
    border: 1px solid gray;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    margin-top: 2em;
    box-shadow: 2px 2px 10px 2px gray;
}
form > h1{
    border-bottom: 1px solid green;
    padding-bottom: 0.2em;
}
.form-field{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.form-field label{
    font-size: 1.3em;
    color: rgb(70, 68, 68);
}
.form-field input{
    font-size: 1.1em;
    padding: 0.2em;
    outline: none;
    min-width: 300px;
}
.form-field textarea{
    font-size: 1.1em;
    padding: 0.2em;
    outline: none;
    min-width: 300px;
}
form > button{
    border: 0.1em solid green;
    background-color: green;
    font-size: 1em;
    color: white;
    letter-spacing: 0.3em;
    font-weight: bold;
    padding: .5em;
    box-shadow: 2px 2px 10px 2px green;
}
.form > p{
    font-size: 1.1em;
}
.dash-p{
    width: 100%;
    margin-top: 5em;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 1px gray;
}
.container{
    margin-left: 300px;
}
.container > h1{
    margin: auto;
    width: 99%;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid green;
}
.show-profile{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.events{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.event{
    margin: auto;
    min-width: 150px;
    max-width: 30%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
    box-shadow: 2px 2px 8px 2px gray;
}
.event:hover{
    transition: 200ms;
    background-color: rgb(243, 235, 235);
}
.event > form{
    box-shadow: none;
    border: none;
    margin: 0;
}
.event > form > button{
    box-shadow: none;
    letter-spacing: normal;
}
.btn-danger{
    border: 0.1em solid red;
    border-radius: 4px;
    padding: 8px 14px;
    background-color: white;
    color: red;
}
.btn-danger:hover{
    transition: 200ms;
    background-color: red;
    color: white;
    box-shadow: 1px 1px 5px 1px red;
}
.danger{
    border: 1px solid red;
    background-color: rgb(245, 200, 200);
    border-radius: 2px;
    margin: auto;
    text-align: center;
    padding: 1em;
}
.success{
    border: 1px solid green;
    background-color: rgb(153, 243, 153);
    border-radius: 2px;
    margin: auto;
    text-align: center;
    padding: 1em;
}

@media all and (width < 950px){
    .container{
        margin-left: 0;
    }
}